body {
    font-family: sans-serif;
    color: #222;
    background-color: #ececec;
    display: grid;
    grid-template-columns: max-content 1fr;
}

.menu {
    grid-column-start: 1;
    padding: 0 48px 0 24px;
}

.menu ul {
    padding-left: 12px;
}

.menu li {
    padding: 2px;
}

.content {
    grid-column-start: 2;
}

.content > * {
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #383f38;
    padding: 5px 10px;
    margin: 10px!important;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    filter: drop-shadow(0px 0px 6px #ccc);
}

table {
    border-collapse: collapse;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    filter: drop-shadow(0px 0px 6px #ccc);
}

th {
    color: #383f38;
    text-align: left;
}

th, td {
    min-width: 64px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

pre {
    font-size: 1.1em;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    filter: drop-shadow(0px 0px 6px #ccc);
}

.content ul {
    list-style: none; /* Remove default bullets */
}

.content ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #444;  /* Change the color */
    display: inline-block;  /* Needed to add space between the bullet and the text */
    width: 1em;  /* Also needed for space (tweak if needed) */
    margin-left: -1em;  /* Also needed for space (tweak if needed) */
}