body {

    margin: 0;
    padding: 48px 0 0 0;

    font-family: sans-serif;
    color: #222;
    background-color: #ececec;

    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 16px;
}

.header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    padding: 0 32px;
    color: #f8f8f8;
    background-color: #282838;
    filter: drop-shadow(0px 0px 6px #666);
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 48px;
}

.header a {
    color: #f8f8f8;
    text-decoration: none;
}

.header .title {
    flex-shrink: 0;
}

.header .search {
    flex-grow: 1;
}

.header .search > input {
    appearance: none;
    border: none;
    background-color: transparent;

    width: calc(100% - 64px);
    height: 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 32px;

    font-family: sans-serif;
    font-size: 24px;
    color: #f8f8f8;
}

.header .search > input::placeholder {
    color: gray;
    font-style: italic;
}

.menu {
    grid-column: 1;
    padding: 0 24px;
}

.main {
    grid-column: 2;
    margin: 32px;
}

.version {
    text-align: center;
    color: #aaa;
}

.content > * {
    margin: 24px;
}

h1, h2, h3, h4, h5, h6, th {
    text-align: left;
    color: #383f38;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6{
    margin: 32px 12px 12px 12px !important;
    padding: 6px 12px;
    border: 1px solid #ccc;
    filter: drop-shadow(0px 0px 6px #ccc);
}

hr {
    color: #efefef;
}

a {
    color: blue;
}

table, pre {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    filter: drop-shadow(0px 0px 6px #ccc);
}

table {
    border-collapse: collapse;
}

th, td {
    min-width: 64px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

pre {
    padding: 6px 12px;
    font-size: 1.1em;
}

ol {
    padding-left: 20px;
}

ul {
    list-style: none; /* Remove default bullets */
    padding-left: 12px;
}

li {
    padding: 2px;
}

.menu li > input {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #888;
    cursor: pointer;
    vertical-align: middle;
    transition: transform .2s;
}

.menu li > input:focus, .menu li > input:active {
    border-left: 8px solid #000;
}

.menu li > input:checked {
    transform: rotate(45deg);
}

.menu li > input:not(:checked) ~ ul {
    display: none;
}

.menu label {
    cursor: pointer;
    text-decoration: underline;
}

.menu a:only-child {
    margin-left: 20px;
}

.content ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #444;  /* Change the color */
    display: inline-block;  /* Needed to add space between the bullet and the text */
    width: 1em;  /* Also needed for space (tweak if needed) */
    margin-left: -1em;  /* Also needed for space (tweak if needed) */
    position: relative;
    top: 1px;
}